body {
  font-family: "Poppins", sans-serif;
}
body.green-bg {
  background-color: #68A25F;
}
body header {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding-top: 2rem;
  padding-bottom: 1rem;
  position: relative;
}
body header .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  margin-bottom: 1rem;
}
body header nav {
  display: flex;
  justify-content: center;
}
body header nav a {
  border: 2px solid #68A25F;
  color: #68A25F;
  width: 10rem;
  height: 4rem;
  display: flex;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 3px;
  transition: all 100ms;
}
body header nav a .material-icons {
  margin-bottom: 0.7rem;
}
body header nav a.active,
body header nav a:hover {
  background-color: #68A25F;
  color: white;
}
body header .signOut {
  position: absolute;
  right: 2rem;
  top: 2rem;
  display: flex;
  align-items: center;
}
body header .signOut a {
  margin-left: 0.5rem;
}
body header .signOut a .material-icons {
  border: 2px solid #e43a3a;
  padding: 0.25rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  color: #e43a3a;
}
body header .signOut a .material-icons:hover {
  color: white;
  background-color: #e43a3a;
}
body main {
  padding-top: 3rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
body main h1 {
  color: #68A25F;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}
body main .merchantAuthPanel {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  margin-top: 5rem;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  background-color: white;
  border-radius: 0.3rem;
}
body main .merchantAuthPanel .logo {
  height: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 3rem;
}
body main .merchantAuthPanel .login,
body main .merchantAuthPanel .register {
  display: flex;
  flex-direction: column;
}
body main .merchantAuthPanel .login label,
body main .merchantAuthPanel .register label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #68A25F;
  margin-top: 2rem;
}
body main .merchantAuthPanel .login label:first-of-type,
body main .merchantAuthPanel .register label:first-of-type {
  margin-top: unset;
}
body main .merchantAuthPanel .login input[type=email],
body main .merchantAuthPanel .login input[type=password],
body main .merchantAuthPanel .login input[type=text],
body main .merchantAuthPanel .login input[type=value],
body main .merchantAuthPanel .register input[type=email],
body main .merchantAuthPanel .register input[type=password],
body main .merchantAuthPanel .register input[type=text],
body main .merchantAuthPanel .register input[type=value] {
  border-radius: 0.3rem;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.5rem;
  border: 1px solid lightgrey;
}
body main .merchantAuthPanel .login input[type=submit],
body main .merchantAuthPanel .register input[type=submit] {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  background-color: #68A25F;
  color: white;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
body main .merchantAuthPanel .login input[type=submit]:hover,
body main .merchantAuthPanel .register input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
body main .merchantAuthPanel .login p.error,
body main .merchantAuthPanel .register p.error {
  color: #e43a3a;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: left;
}
body main .merchantAuthPanel .login hr,
body main .merchantAuthPanel .register hr {
  width: 100%;
  background-color: lightgrey;
  border: none;
  height: 1px;
  margin-bottom: 3rem;
}
body main .merchantAuthPanel .login p,
body main .merchantAuthPanel .register p {
  text-align: center;
  color: grey;
  margin-bottom: 1rem;
}
body main .merchantAuthPanel .login a,
body main .merchantAuthPanel .register a {
  text-align: center;
  color: #68A25F;
}
body main .merchantAuthPanel .login a:hover,
body main .merchantAuthPanel .register a:hover {
  text-decoration: underline;
}
body main .orders .order {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
body main .orders .order.confirmed .orderOverview, body main .orders .order.denied .orderOverview {
  border-color: white;
  color: white;
}
body main .orders .order.confirmed .orderOverview .totalPrice, body main .orders .order.denied .orderOverview .totalPrice {
  color: white;
}
body main .orders .order.confirmed .orderSections > li, body main .orders .order.denied .orderSections > li {
  color: white;
  border-color: white;
}
body main .orders .order.confirmed .orderOverview {
  background-color: #68A25F;
}
body main .orders .order.confirmed .orderSections > li {
  background-color: #68A25F;
}
body main .orders .order.denied .orderOverview {
  background-color: #e43a3a;
}
body main .orders .order.denied .orderSections > li {
  background-color: #e43a3a;
}
body main .orders .order .orderOverview {
  border: 1px solid #c3c3c3;
  background-color: #fbfbfb;
  width: 70%;
  padding: 1rem;
}
body main .orders .order .orderOverview > ul {
  margin-bottom: 1rem;
}
body main .orders .order .orderOverview > ul li {
  display: flex;
  margin-bottom: 0.3rem;
}
body main .orders .order .orderOverview > ul li .amount {
  width: 2rem;
}
body main .orders .order .orderOverview .totalPrice {
  font-weight: bold;
  color: #68A25F;
}
body main .orders .order .orderOverview div > .title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
body main .orders .order .orderOverview .remarks {
  margin-top: 2rem;
}
body main .orders .order .orderOverview .contactDetails {
  margin-top: 2rem;
}
body main .orders .order .orderOverview .contactDetails p {
  display: flex;
}
body main .orders .order .orderOverview .contactDetails p span {
  width: 15rem;
}
body main .orders .order .orderOverview .deliveryDetails {
  margin-top: 2rem;
}
body main .orders .order .orderSections {
  width: 30%;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
}
body main .orders .order .orderSections > li {
  min-height: 8rem;
  padding: 1rem;
  border: 1px solid #c3c3c3;
  background-color: #fbfbfb;
  box-sizing: border-box;
  width: 33%;
  border-right: none;
}
body main .orders .order .orderSections > li.deliveryMethod {
  border-left: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .orders .order .orderSections > li.deliveryMethod p {
  font-weight: bold;
}
body main .orders .order .orderSections > li.deliveryMethod p.type {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
body main .orders .order .orderSections > li.deliveryMethod p.time {
  font-size: 1.5rem;
}
body main .orders .order .orderSections > li.deliveryMethod p.time.lineThrough {
  text-decoration: line-through;
}
body main .orders .order .orderSections > li.deliveryMethod p.timeDelay {
  font-size: 1.5rem;
  margin-top: 0.4rem;
}
body main .orders .order .orderSections > li.action {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .orders .order .orderSections > li.action .material-icons {
  margin-bottom: 0.7rem;
}
body main .orders .order .orderSections > li.action p {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
body main .orders .order .orderSections > li.action:hover {
  cursor: pointer;
}
body main .orders .order .orderSections > li.addExtraTime.addExtraTime_15 {
  border-left: none;
}
body main .orders .order .orderSections > li.addExtraTime.addExtraTime_60 {
  border-right: 1px solid #c3c3c3;
}
body main .orders .order .orderSections > li.addExtraTime:hover, body main .orders .order .orderSections > li.addExtraTime.delayed {
  background-color: gold;
}
body main .orders .order .orderSections > li.confirmOrder {
  border-bottom: none;
}
body main .orders .order .orderSections > li.confirmOrder:hover {
  background-color: #68A25F;
  color: white;
}
body main .orders .order .orderSections > li.denyOrder {
  border-right: 1px solid #c3c3c3;
  border-bottom: none;
}
body main .orders .order .orderSections > li.denyOrder:hover {
  background-color: #e43a3a;
  color: white;
}
body main .createProductForm {
  padding: 4rem;
  margin-bottom: 3rem;
  width: 80%;
  padding-bottom: 4rem;
  border-radius: 0.4rem;
  background-color: #68A25F;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
body main .createProductForm .input-row {
  display: flex;
  justify-content: space-between;
}
body main .createProductForm .input-row input[type=text],
body main .createProductForm .input-row input[type=value] {
  border: none;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  font-weight: bold;
  box-sizing: border-box;
}
body main .createProductForm .input-row input[type=submit] {
  width: 15%;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  padding: 0 1.5rem;
  background-color: #375f31;
  color: white;
  box-sizing: border-box;
}
body main .createProductForm .input-row input[type=submit]:hover {
  cursor: pointer;
  background-color: #528a4a;
  color: white;
}
body main .createProductForm .input-row .name {
  width: 60%;
}
body main .createProductForm .input-row .price {
  width: 20%;
}
body main .createProductForm .errors {
  margin-top: 1rem;
}
body main .createProductForm .errors p {
  color: white;
  margin-bottom: 0.5rem;
}
body main .createProductForm .row .description {
  width: 100%;
  margin-top: 1.5rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  font-weight: bold;
  font-family: "poppins", sans-serif;
}
body main .createProductForm .row .description:focus {
  outline: none;
}
body main .products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body main .products li {
  box-sizing: border-box;
  width: 48%;
  margin-bottom: 3rem;
  background-color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
}
body main .products li > .row {
  display: flex;
  justify-content: space-between;
  font-size: 1.15rem;
  font-weight: bold;
  align-items: center;
}
body main .products li > .row.upper {
  padding: 1.5rem;
  border-bottom: 1px solid #dadada;
}
body main .products li > .row.upper .name {
  width: 75%;
}
body main .products li > .row.upper .price {
  width: 20%;
  text-align: right;
}
body main .products li > .row.descriptionRow {
  padding: 1.5rem;
  font-size: 0.9rem;
  color: grey;
  border-bottom: 1px solid #dadada;
}
body main .products li > .row.bottom {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
body main .products li > .row.bottom .orderable {
  padding: 1rem 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .products li > .row.bottom .orderable .info {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
}
body main .products li > .row.bottom button {
  border: none;
  background-color: transparent;
  width: 30%;
  color: grey;
  font-size: 2rem;
  height: 4rem;
  border-radius: 0.5rem;
}
body main .products li > .row.bottom button:hover {
  cursor: pointer;
}
body main .products li > .row.bottom button.edit:hover {
  background-color: #e6e6e6;
  color: black;
}
body main .products li > .row.bottom button.remove:hover {
  background-color: #e43a3a;
  color: white;
}
body main .products li form {
  padding: 1.5rem;
}
body main .products li form .row.inputValues {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
body main .products li form .row.inputValues input {
  border: none;
  font-size: 1.15rem;
  font-weight: bold;
  border: 2px solid lightgray;
  border-radius: 0.3rem;
  padding: 0.2rem 0.4rem;
  box-sizing: border-box;
}
body main .products li form .row.inputValues input[type=text] {
  width: 75%;
}
body main .products li form .row.inputValues input[type=value] {
  width: 20%;
  text-align: right;
}
body main .products li form .row.descriptionValue textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.3rem;
  margin-bottom: 1.5rem;
  border: 2px solid lightgray;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  font-weight: bold;
  font-family: "poppins", sans-serif;
}
body main .products li form .row.descriptionValue textarea:focus {
  outline: none;
}
body main .products li form .row.buttons {
  display: flex;
  justify-content: space-between;
}
body main .products li form .row.buttons input[type=button],
body main .products li form .row.buttons input[type=submit] {
  height: 2.5rem;
  padding: 0.3rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: unset;
  font-weight: bold;
  width: 48%;
}
body main .products li form .row.buttons input[type=button] {
  background-color: #eaeaea;
}
body main .products li form .row.buttons input[type=button]:hover {
  background-color: #c7c7c7;
}
body main .products li form .row.buttons input[type=submit] {
  background-color: #68A25F;
  color: white;
}
body main .products li form .row.buttons input[type=submit]:hover {
  background-color: #375f31;
}
body main .settings {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
body main .settings form {
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
}
body main .settings form label {
  margin-bottom: 0.5rem;
}
body main .settings form input[type=file],
body main .settings form textarea {
  margin-bottom: 1rem;
}
body main .settings form textarea {
  border-radius: 0.3rem;
  padding: 0.5rem 0.7rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}
body main .settings form textarea:focus {
  outline: none;
}
body main .settings form img {
  margin-bottom: 1rem;
  height: 10rem;
  object-fit: contain;
  margin-left: 0;
  display: block;
  object-position: left;
}
body main .settings form img.square {
  width: 10rem;
  object-fit: cover;
}
body main .settings form.bannerForm img.showBorder {
  border: 1px dashed lightgrey;
}
body main .settings form input[type=submit] {
  background-color: #68A25F;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  width: 8rem;
}
body main .settings form input[type=submit]:hover {
  filter: brightness(1.1);
  cursor: pointer;
}
body main .settings form p.error {
  color: #e43a3a;
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 1rem;
}
body main .settings form.schedule > label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #68A25F;
}
body main .settings form.schedule .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
body main .settings form.schedule .row label {
  margin: unset;
}
body main .settings form.schedule .row label:first-of-type {
  width: 8rem;
}
body main .settings form.schedule .row label b {
  font-weight: bold;
}
body main .settings form.schedule .row select {
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
}
body main .settings form.schedule .row select:hover {
  cursor: pointer;
  border-color: #68A25F;
}
body main .settings form.schedule .row select:focus {
  outline: none;
}
body .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
body .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body .switch input:checked + .slider {
  background-color: #68A25F;
}
body .switch input:focus + .slider {
  box-shadow: 0 0 1px #68A25F;
}
body .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
body .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body .switch .slider.round {
  border-radius: 34px;
}
body .switch .slider.round:before {
  border-radius: 50%;
}
body input {
  font-family: "poppins", sans-serif;
}
body .hidden {
  display: none !important;
}
body button {
  box-shadow: none !important;
}

/*# sourceMappingURL=index.css.map */
