$mainGreen: #68A25F;
$mainRed: #e43a3a;
$mediumGrey: grey;
body {
    font-family: "Poppins", sans-serif;
    &.green-bg {
        background-color: $mainGreen;
    }
    header {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        padding-top: 2rem;
        padding-bottom: 1rem;
        position: relative;
        .logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 3rem;
            margin-bottom: 1rem;
        }
        nav {
            display: flex;
            justify-content: center;
            a {
                border: 2px solid $mainGreen;
                color: $mainGreen;
                width: 10rem;
                height: 4rem;
                display: flex;
                border-radius: 0.5rem;
                padding: 1rem;
                margin: 1rem;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 0.8rem;
                letter-spacing: 3px;
                transition: all 100ms;
                .material-icons {
                    margin-bottom: 0.7rem;
                }
            }
            a.active,
            a:hover {
                background-color: $mainGreen;
                color: white;
            }
        }
        .signOut {
            position: absolute;
            right: 2rem;
            top: 2rem;
            display: flex;
            align-items: center;
            a {
                margin-left: 0.5rem;
                .material-icons {
                    border: 2px solid $mainRed;
                    padding: 0.25rem;
                    border-radius: 0.4rem;
                    font-size: 1.5rem;
                    color: $mainRed;
                    &:hover {
                        color: white;
                        background-color: $mainRed;
                    }
                }
            }
        }
    }
    main {
        padding-top: 3rem;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        h1 {
            color: $mainGreen;
            font-weight: bold;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 3rem;
            text-transform: capitalize;
        }
        .merchantAuthPanel {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 4rem;
            margin-top: 5rem;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5rem;
            background-color: white;
            border-radius: 0.3rem;
            .logo {
                height: 4rem;
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-bottom: 3rem;
            }
            .login,
            .register {
                display: flex;
                flex-direction: column;
                label {
                    margin-bottom: 0.5rem;
                    font-weight: bold;
                    color: $mainGreen;
                    margin-top: 2rem;
                    &:first-of-type {
                        margin-top: unset;
                    }
                }
                input[type="email"],
                input[type="password"],
                input[type="text"],
                input[type="value"] {
                    border-radius: 0.3rem;
                    font-size: 1.2rem;
                    padding: 0.5rem 0.8rem;
                    margin-bottom: 0.5rem;
                    border: 1px solid lightgrey;
                }
                input[type="submit"] {
                    width: 40%;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 1rem;
                    background-color: $mainGreen;
                    color: white;
                    border: none;
                    padding: 0.7rem 2rem;
                    border-radius: 0.3rem;
                    margin-bottom: 3rem;
                    margin-top: 3rem;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(1.1);
                    }
                }
                p.error {
                    color: $mainRed;
                    font-weight: bold;
                    font-size: 0.8rem;
                    text-align: left;
                }
                hr {
                    width: 100%;
                    background-color: lightgrey;
                    border: none;
                    height: 1px;
                    margin-bottom: 3rem;
                }
                p {
                    text-align: center;
                    color: grey;
                    margin-bottom: 1rem;
                }
                a {
                    text-align: center;
                    color: $mainGreen;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .register {}
        }
        .orders {
            .order {
                margin-bottom: 2rem;
                display: flex;
                justify-content: space-between;
                &.accepted,
                &.denied {
                    .orderOverview {
                        /*border-color: white;*/
                        color: white;
                        .totalPrice {
                            color: white;
                        }
                    }
                    .orderSections {
                        .row {
                            >li {
                                /*
                                color: white;
                                border-color: white;
                                */
                            }
                        }
                    }
                }
                &.accepted {
                    .orderOverview {
                        background-color: $mainGreen;
                    }
                    .orderSections {
                        .row {
                            >li {
                                /*background-color: $mainGreen;*/
                            }
                        }
                    }
                }
                &.denied {
                    .orderOverview {
                        background-color: $mainRed;
                    }
                    .orderSections {
                        >li {
                            background-color: $mainRed;
                        }
                    }
                }
                .orderOverview {
                    border: 1px solid #c3c3c3;
                    background-color: #fbfbfb;
                    width: 70%;
                    padding: 1rem;
                    >ul {
                        li {
                            display: flex;
                            margin-bottom: 0.3rem;
                            .amount {
                                width: 2rem;
                            }
                        }
                        margin-bottom: 1rem;
                    }
                    .totalPrice {
                        font-weight: bold;
                        color: $mainGreen;
                    }
                    div {
                        >.title {
                            font-weight: bold;
                            margin-bottom: 0.5rem;
                        }
                    }
                    .remarks {
                        margin-top: 2rem;
                    }
                    .contactDetails {
                        margin-top: 2rem;
                        p {
                            display: flex;
                            span {
                                width: 15rem;
                            }
                        }
                    }
                    .deliveryDetails {
                        margin-top: 2rem;
                    }
                }
                .orderSections {
                    width: 30%;
                    display: flex;
                    align-self: flex-start;
                    flex-wrap: wrap;
                    .row {
                        width: 100%;
                        display: flex;
                        &:last-of-type {
                            >li {
                                border-bottom: 1px solid #c3c3c3;
                            }
                        }
                        >li {
                            min-height: 8rem;
                            padding: 1rem;
                            border: 1px solid #c3c3c3;
                            border-bottom: none;
                            background-color: #fbfbfb;
                            box-sizing: border-box;
                            width: 33%;
                            &:first-of-type {
                                border-left: none;
                            }
                            &:nth-of-type(2) {
                                border-left: none;
                            }
                            &:last-of-type {
                                border-right: 1px solid #c3c3c3;
                                border-left: none;
                            }
                            &.deliveryMethod {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                p {
                                    font-weight: bold;
                                    &.type {
                                        font-size: 1.2rem;
                                        text-transform: uppercase;
                                        margin-bottom: 0.5rem;
                                    }
                                    &.time {
                                        font-size: 1.5rem;
                                        &.lineThrough {
                                            text-decoration: line-through;
                                        }
                                    }
                                    &.timeDelay {
                                        font-size: 1.5rem;
                                        margin-top: 0.4rem;
                                    }
                                }
                            }
                            &.action {
                                padding: 0 1rem;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                .material-icons {
                                    margin-bottom: 0.7rem;
                                }
                                p {
                                    font-size: 0.8rem;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                    letter-spacing: 1px;
                                }
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            &.addExtraTime {
                                &.addExtraTime_15 {}
                                &.addExtraTime_60 {}
                                &:hover,
                                &.delayed {
                                    background-color: gold;
                                }
                            }
                            &.acceptOrder,
                            &.completeOrder {
                                &:hover {
                                    background-color: #68A25F;
                                    color: white;
                                }
                            }
                            &.denyOrder {
                                &:hover {
                                    background-color: $mainRed;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .createProductForm {
            padding: 4rem;
            margin-bottom: 3rem;
            width: 80%;
            padding-bottom: 4rem;
            border-radius: 0.4rem;
            background-color: $mainGreen;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
            .input-row {
                display: flex;
                justify-content: space-between;
                input[type="text"],
                input[type="value"] {
                    border: none;
                    font-size: 1rem;
                    padding: 0.4rem 0.8rem;
                    border-radius: 0.3rem;
                    font-weight: bold;
                    box-sizing: border-box;
                }
                input[type="submit"] {
                    width: 15%;
                    font-weight: bold;
                    border: none;
                    border-radius: 0.3rem;
                    padding: 0 1.5rem;
                    background-color: #375f31;
                    color: white;
                    box-sizing: border-box;
                    &:hover {
                        cursor: pointer;
                        background-color: #528a4a;
                        color: white;
                    }
                }
                .name {
                    width: 60%;
                }
                .price {
                    width: 20%;
                }
            }
            .errors {
                margin-top: 1rem;
                p {
                    color: white;
                    margin-bottom: 0.5rem;
                }
            }
            .row {
                .description {
                    width: 100%;
                    margin-top: 1.5rem;
                    box-sizing: border-box;
                    border-radius: 0.3rem;
                    border: none;
                    font-size: 1rem;
                    padding: 0.4rem 0.8rem;
                    font-weight: bold;
                    font-family: "poppins", sans-serif;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .products {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            li {
                box-sizing: border-box;
                width: 48%;
                margin-bottom: 3rem;
                background-color: white;
                box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
                border-radius: 0.3rem;
                >.row {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.15rem;
                    font-weight: bold;
                    align-items: center;
                    &.upper {
                        padding: 1.5rem;
                        border-bottom: 1px solid #dadada;
                        .name {
                            width: 75%;
                        }
                        .price {
                            width: 20%;
                            text-align: right;
                        }
                    }
                    &.descriptionRow {
                        padding: 1.5rem;
                        font-size: 0.9rem;
                        color: grey;
                        border-bottom: 1px solid #dadada;
                    }
                    &.bottom {
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;
                        display: flex;
                        justify-content: space-between;
                        height: 5rem;
                        .orderable {
                            padding: 1rem 0;
                            width: 30%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .info {
                                font-size: 0.8rem;
                                margin-bottom: 0.4rem;
                            }
                        }
                        button {
                            border: none;
                            background-color: transparent;
                            width: 30%;
                            color: $mediumGrey;
                            font-size: 2rem;
                            height: 4rem;
                            border-radius: 0.5rem;
                            &:hover {
                                cursor: pointer;
                            }
                            &.edit {
                                &:hover {
                                    background-color: #e6e6e6;
                                    color: black;
                                }
                            }
                            &.remove {
                                &:hover {
                                    background-color: $mainRed;
                                    color: white;
                                }
                            }
                        }
                    }
                }
                form {
                    padding: 1.5rem;
                    .row {
                        &.inputValues {
                            margin-bottom: 1.5rem;
                            display: flex;
                            justify-content: space-between;
                            input {
                                border: none;
                                font-size: 1.15rem;
                                font-weight: bold;
                                border: 2px solid lightgray;
                                border-radius: 0.3rem;
                                padding: 0.2rem 0.4rem;
                                box-sizing: border-box;
                                &[type="text"] {
                                    width: 75%;
                                }
                                &[type="value"] {
                                    width: 20%;
                                    text-align: right;
                                }
                            }
                        }
                        &.descriptionValue {
                            textarea {
                                width: 100%;
                                box-sizing: border-box;
                                border-radius: 0.3rem;
                                margin-bottom: 1.5rem;
                                border: 2px solid lightgray;
                                font-size: 1rem;
                                padding: 0.4rem 0.8rem;
                                font-weight: bold;
                                font-family: "poppins", sans-serif;
                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                        &.buttons {
                            display: flex;
                            justify-content: space-between;
                            input[type="button"],
                            input[type="submit"] {
                                height: 2.5rem;
                                padding: 0.3rem 1.5rem;
                                border: none;
                                cursor: pointer;
                                border-radius: 0.3rem;
                                background-color: unset;
                                font-weight: bold;
                                width: 48%;
                            }
                            input[type="button"] {
                                background-color: #eaeaea;
                                &:hover {
                                    background-color: #c7c7c7;
                                }
                            }
                            input[type="submit"] {
                                background-color: $mainGreen;
                                color: white;
                                &:hover {
                                    background-color: #375f31;
                                }
                            }
                        }
                    }
                }
            }
        }
        .settings {
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            form {
                display: flex;
                flex-direction: column;
                margin-bottom: 8rem;
                label {
                    margin-bottom: 0.5rem;
                }
                input[type="file"],
                textarea {
                    margin-bottom: 1rem;
                }
                textarea {
                    border-radius: 0.3rem;
                    padding: 0.5rem 0.7rem;
                    font-family: "Poppins", sans-serif;
                    font-size: 1.1rem;
                    &:focus {
                        outline: none;
                    }
                }
                img {
                    margin-bottom: 1rem;
                    height: 10rem;
                    object-fit: contain;
                    margin-left: 0;
                    display: block;
                    object-position: left;
                    &.square {
                        width: 10rem;
                        object-fit: cover;
                    }
                }
                &.bannerForm {
                    img {
                        &.showBorder {
                            border: 1px dashed lightgrey;
                        }
                    }
                }
                input[type="submit"] {
                    background-color: $mainGreen;
                    color: white;
                    border: none;
                    border-radius: 0.3rem;
                    font-size: 1rem;
                    padding: 0.4rem 1rem;
                    width: 8rem;
                    &:hover {
                        filter: brightness(1.1);
                        cursor: pointer;
                    }
                }
                p.error {
                    color: $mainRed;
                    font-weight: bold;
                    font-size: 0.8rem;
                    margin-top: 1rem;
                }
                &.schedule {
                    >label {
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-bottom: 1rem;
                        color: $mainGreen;
                    }
                    .row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 1rem;
                        label {
                            margin: unset;
                            &:first-of-type {
                                width: 8rem;
                            }
                            b {
                                font-weight: bold;
                            }
                        }
                        select {
                            padding: 0.3rem 0.5rem;
                            border-radius: 0.3rem;
                            &:hover {
                                cursor: pointer;
                                border-color: $mainGreen;
                            }
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
            &:checked+.slider {
                background-color: $mainGreen;
            }
            &:focus+.slider {
                box-shadow: 0 0 1px $mainGreen;
            }
            &:checked+.slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
            &.round {
                border-radius: 34px;
                &:before {
                    border-radius: 50%;
                }
            }
        }
    }
    input {
        font-family: "poppins", sans-serif;
    }
    .hidden {
        display: none !important;
    }
    button {
        box-shadow: none !important;
    }
}